# Required: Annotator identification.
# Used for token assignments.
ANNOTATOR_ID=ian

# Required: Remote user host.
# Used to establish connection to oka when copying data.
REMOTE_USER_HOST=name@oka

# Optional: name of database file.
# By default:
# FORMANT_DB_URL=sqlite:///./data/<ANNOTATOR_ID>.sqlite

# Optional (but recommended): Praat path.
# The script attempts common file locations based on OS.
# Note: Ideally, backend server and Praat live on the same OS filesystem. Or else, there may be unexpected errors.
# E.g.,
# PRAAT_PATH=/usr/bin/praat
# PRAAT_PATH=C:\Program Files\Praat\Praat.exe
# PRAAT_PATH=/Applications/Praat.app/Contents/MacOS/Praat